@page "/cart"
@inject ICartService CartService

<PageTitle>Shopping Cart</PageTitle>

<h3>Shopping Cart</h3>

@if (cartProducts == null || cartProducts.Count == 0)
{
    <span>@message</span>
}
else
{
    @foreach (var cartProduct in cartProducts)
    {
        <div class="container">
            <div class="image-wrapper">
                <img src="@cartProduct.ImageUrl" class="image" />
            </div>
            <div class="name">
                <h5><a href="/products/@cartProduct.ProductId">@cartProduct.Title</a></h5>
                <span>@cartProduct.ProductType</span> <br />
                <input class="form-control input-quantity" min="1" max="100" type="number" value="@cartProduct.Quantity" @onchange="(ChangeEventArgs e) => UpdateQuantity(e, cartProduct)" />
                <button class="btn-delete" @onclick="@(() => RemoveProductFromCart(cartProduct.ProductId, cartProduct.ProductTypeId))">Remove</button>
            </div>
            <div class="cart-product-price">$@(cartProduct.Price * cartProduct.Quantity)</div>
        </div>
    }
    <div class="cart-product-price">
        Total (@cartProducts.Sum(x => x.Quantity)) : $@cartProducts.Sum(x => x.Price * x.Quantity)
    </div>
}

@code {
    List<CartProductResponse> cartProducts = null;
    string message = "Loading cart...";

    protected override async Task OnInitializedAsync()
    {
        await LoadCartAsync();
    }

    private async Task RemoveProductFromCart(int productId, int productTypeId)
    {
        await CartService.RemoveProductFromCart(productId, productTypeId);

        await LoadCartAsync();
    }

    private async Task LoadCartAsync()
    {
        if ((await CartService.GetCartItems()).Count == 0)
        {
            message = "Cart is empty!";
            cartProducts = new();
        }
        else
        {
            cartProducts = await CartService.GetCartProducts();
        }
    }

    private async Task UpdateQuantity(ChangeEventArgs e, CartProductResponse cartProduct)
    {
        cartProduct.Quantity = int.Parse(e.Value.ToString());

        if (cartProduct.Quantity < 1)
        {
            cartProduct.Quantity = 1;
        }
        else if (cartProduct.Quantity > 100)
        {
            cartProduct.Quantity = 100;
        }

        await CartService.UpdateQuantity(cartProduct);
    }
}
