@inject HttpClient Http;

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="list-unstyled">
        @foreach (var product in Products)
        {
            <li class="media bg-light my-3">
                <div class="media-img-wrapper me-2">
                    <a href="#">
                        <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4 class="mb-0">@product.Title</h4>
                    </a>
                    <p>@product.Description</p>
                    <h5 class="price">
                        @product.Price <span>₺</span>
                    </h5>
                </div>
            </li>
        }
    </ul>
}

@code {
    private static List<Product>? Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<List<Product>>("api/Products");
    }
}
